<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="not-found-page">
  <div class="container center">
    <div class="nf-num">404</div>
    <h1 class="nf-title">PAGE NOT FOUND</h1>
    <p class="nf-sub">Looks like this part isn't in our catalogue.</p>
    <div class="hero-btns" style="justify-content:center;margin-top:32px">
      <a href="/" class="btn-primary">Go Home</a>
      <a href="/products" class="btn-outline">Browse Parts</a>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
